@model BestellingOverViewViewModel

<div>
    <h2>Bestelling Details</h2>
    <p><strong>Klant</strong> @Model.KlantNaam</p>
    <p><strong>Status:</strong> @Model.Status</p>
    <p><strong>Subtotaal:</strong> @Model.SubTotaal</p>
</div>
