@model IEnumerable<BestellingOverViewViewModel>

@{
    ViewData["Title"] = "Mario";
}
<link rel="stylesheet" href="/css/MarioBestelling.css">

<h1 class="title">Bestellingen</h1>

<div class="outer-container">
    <div class="left-container">
        <div class="sidebar">
            <ul>
                @foreach (var bestelling in Model)
                {
                    <li class="bestelling">
                        <a asp-controller="Mario" asp-action="FinaliserenBestellingKlant" asp-route-bestellingId="@bestelling.Id">
                            @bestelling.KlantNaam
                            @bestelling.Tijd
                            <p>@bestelling.Status</p>
                        </a>
                    </li>
                }
            </ul>
        </div>
    </div>

    <div class="right-container">
        <h1>Tafels</h1>
        <a asp-controller="Mario" asp-action="CreateBestelling" class="btn btn-primary btn-sm">Tafel 1</a>
    </div>
</div>

<div class="fab-container">
    <a asp-controller="Mario" asp-action="CreateBestellingKlant" class="fab btn btn-primary" aria-label="Nieuwe bestelling aanmaken">
        +
    </a>
</div>
