.profile-card {
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s ease;
}

    .profile-card img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        object-fit: cover;
        border: 4px solid #ddd;
    }

    .profile-card:hover {
        transform: scale(1.05);
    }

    .profile-card h5 {
        margin-top: 10px;
        font-size: 18px;
    }

.container {
    margin-top: 50px;
}
