@{
    ViewData["Title"] = "Create Pizza";
}

@model PizzaOverviewViewModel

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/PizzaCreate.css" >
</head>
<body>
    <div class="container">
        <div class="form-container">
            <h1>Creëer een nieuwe pizza</h1>
            <form asp-action="Create" asp-controller="pizza" method="post">
                <div class="mb-3">
                    <label for="Name" class="form-label">Product Naam</label>
                    <input type="text" class="form-control" id="Name" name="Name" placeholder="Voer de naam van het nieuwe product in" required/>
                </div>
                <div class="mb-3">
                    <label for="ProductCategory" class="form-label">Product Categorie</label>
                    <input type="number" step="1" max="3" min="1" class="form-control" id="Category" name="Category" placeholder="Voer de categorie in" required />
                </div>
                <div class="mb-3">
                    <label for="Price" class="form-label">Prijs (€)</label>
                    <input type="number" step="0.01" class="form-control" id="Price" name="Price" placeholder="Voer de prijs in" required />
                </div>
                <div class="mb-3">
                    <label for="Description" class="form-label">Beschrijving</label>
                    <textarea class="form-control" id="Description" name="Description" rows="4" placeholder="Voer een beschrijving van het product in"></textarea>
                </div>

                <div class="d-flex justify-content-between">
                    <button type="submit" class="btn btn-custom">Opslaan</button>
                    <a href="@Url.Action("Index", "Pizza")" class="btn btn-secondary">Annuleren</a>
                </div>
            </form>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

